
.nav-bar a {
  color: black;
  display: inline-block;
  border: solid 1px rgb(53, 48, 53);
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  background-color: rgb(208, 241, 230);
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-bar a:hover {
  color: #61bdc7;
  background-color: #f5f5dc;
}

.links {
  color: black;
  margin: 10px;
  display: block;
}

.header h2, h3{
  color: black;
  display: inline-block;
}

.header h3 {
  color: black;
  margin-left: 50px;
}

.card_articles {
  color: black;
  border: solid rgb(202, 166, 58) 1px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f2ea;
  width: 100%;
}

.card_articles .about, .pic {
  display: inline-block;
  width: auto;
} 

.card_articles .about {
  color: black;
  vertical-align: top;
}

.card_articles .pic {
  padding-right: 20px;
}

.card_articles .pic img{
  width: 200px;
  border-radius: 20px;
}

.card_articles .title .body {
  margin: 20px 0px 20px 0px;
}

.article_view {
  color: black;
  background-color: #f8f2ea;
  border: 1px solid rgb(240, 215, 173);
  padding: 10px;
  border-radius: 20px;
}
.votes_view {
  display: in;
  align-items: center;
  color: black;
  background-color: #f8f2ea;
  border: 1px solid rgb(240, 215, 173);
  padding: 10px;
  border-radius: 20px;

}

.vote_button {
  color: rgb(0, 0, 0);
  background-color: #c7e7eb;
  border-radius: 20%;
  border: 1px solid#0a3c41;
}